{% extends 'base.html' %}

{% load static %}

{% block crypto_active %}active{% endblock %}

{% block content %}
    <!--Container for the balance-->
    <div class="container portfolio-container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1><i class="fa-solid fa-wallet"></i> Crypto Balance</h1>


                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Currency</th>
                        <th scope="col">Amount</th>
                        <th scope="col">USD</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><img class="cryptos-image" src="{% static 'images/dollar.png' %}"
                                 alt="dollar-symbol"></td>
                        <td>Dollar</td>
                        <td>USD</td>
                        <td>{{ balance }}</td>
                        <td>${{ balance }}</td>
                    </tr>
                    {% for user_crypto in user_cryptos %}
                        <tr>
                            <td><img class="cryptos-image" src="{{ user_crypto.image }}"
                                     alt="{{ user_crypto.symbol }}-symbol">
                            </td>
                            <td>{{ user_crypto.symbol }}</td>
                            <td>{{ user_crypto.symbol }}</td>
                            <td>{{ user_crypto.formatted_amount }}</td>
                            <td>${{ user_crypto.usd }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#buyModal">
                    Buy
                </button>
                {% if user_cryptos %}
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sellModal">
                        Sell
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    <!--Container for the transactions history-->
    <div class="container portfolio-container mb-5">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1><i class="fa-solid fa-clock-rotate-left"></i> Transactions</h1>
                <form class="transaction-filter row g-3" method="GET">
                    {% csrf_token %}
                    <div class="col-md-3">
                        {{ transactions_view_form.crypto_choice.label_tag }}
                        {{ transactions_view_form.crypto_choice }}
                    </div>
                    <div class="col-md-3">
                        {{ transactions_view_form.transaction_type.label_tag }}
                        {{ transactions_view_form.transaction_type }}
                    </div>
                    <div class="col-md-3">
                        {{ transactions_view_form.start_date.label_tag }}
                        {{ transactions_view_form.start_date }}
                    </div>
                    <div class="col-md-3">
                        {{ transactions_view_form.end_date.label_tag }}
                        {{ transactions_view_form.end_date }}
                    </div>
                    <div class="col-md-12">
                        <button id="view-more-btn" class="btn btn-success mt-3 mb-3 col-md-12 table-btn">Filter</button>
                    </div>
                </form>
                {% if transactions|length > 0 %}
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Amount</th>
                            <th scope="col">Type</th>
                            <th scope="col">Currency</th>
                            <th scope="col">Transaction Date</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for transaction in transactions %}
                            <tr {% if forloop.counter > 5 %}class="d-none hidden-row"{% endif %}>
                                <th scope="row"
                                    class="{% if transaction.amount > 0 %}text-success{% else %}text-danger{% endif %}">
                                    {{ transaction.formatted_amount }}
                                </th>
                                <td class="text-capitalize">{{ transaction.type }}</td>
                                <td class="text-capitalize">{{ transaction.symbol }}</td>
                                <td>{{ transaction.created_at }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>There is no transactions to show</p>
                {% endif %}
                {% if transactions|length > 5 %}
                    <button id="view-more-btn" class="btn btn-success mt-3 table-btn" onclick="toggleRow(this)">View
                        More
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Buy Modal -->
    <div class="modal fade wallet-modal text-center" id="buyModal" tabindex="-1"
         aria-labelledby="depositModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form id="buy" class="add-money-form" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-4" id="depositModalLabel"><i
                                class="fa-solid fa-money-bill-transfer"></i> Buy Crypto</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center d-flex flex-column">
                        {% csrf_token %}
                        {{ buy_crypto_form }}
                        <p>Values from $1.00 to $50,000.00</p>
                        <p id="crypto-price-info-buy"></p>


                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success" name="buy_form" value="submit_buy">Confirm
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    {% if user_cryptos %}
        <div class="modal fade wallet-modal text-center" id="sellModal" tabindex="-1"
             aria-labelledby="depositModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <form id="sell" class="add-money-form" method="POST">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-4" id="depositModalLabel"><i
                                    class="fa-solid fa-money-bill-transfer"></i> Buy Crypto</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body text-center d-flex flex-column">
                            {% csrf_token %}
                            {{ sell_crypto_form }}
                            <p id="owned-crypto-amount"></p>
                            <p id="crypto-price-info-sell"></p>


                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success" name="sell_form" value="submit_sell">Confirm
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    {% endif %}

    {{ bitcoin }}
{% endblock %}