{% extends 'base.html' %}

{% block content %}
<div class="container news-container d-none d-lg-block">
    <div class="row">
        {%for article in articles%}
        <div class="col-md-3 d-sm-none d-md-block">
            <div class="card">
                <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        {{article.title}}</h5>
                    <a href="{{ article.url }}" class="btn btn-primary" target="_blank">Read More</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>



<div class="container news-container d-sm-block d-lg-none">
    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for article in articles %}
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %}class="active"{% endif %}
                aria-current="{% if forloop.first %}true{% endif %}" aria-label="Slide {{ forloop.counter0|add:1 }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for article in articles %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="10000">
                <div class="card">
                    <img src="{{ article.urlToImage }}" class="card-img-top" alt="...">
                    <div class="card-body text-center"> <!-- Add text-center class here -->
                        <h5 class="card-title">
                            {{article.title}}</h5>
                        <p class="card-text">
                            {{article.description}}</p>
                        <a href="{{ article.url }}" class="btn btn-primary mb-5" target="_blank">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>




{% endblock %}