{% extends 'base.html' %}

{% load static %}

{% block manage_active %}active{% endblock %}

{% block content %}
    <div class="container brief-container mt-5 mb-5">
        <div class="row">
            <div class="col-md-8">
                <h1>Manage Cryptocurrency Availability</h1>
                <div class="d-none d-md-block">
                    <p>Welcome to the Investosphere admin panel for managing cryptocurrency availability. As an
                        administrator, you have the power to shape the investment options available to our users. This
                        page allows you to effortlessly add or remove cryptocurrencies, ensuring that our users have
                        access to a diverse range of investment opportunities.</p>
                </div>

            </div>
            <div class="col-sm-8 col-md-4 col-lg-4 order-first order-md-last text-center">
                <img src="{% static 'images/admin.svg' %}"
                     alt="Image" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="container portfolio-container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1><i class="fa-solid fa-wallet"></i> Cryptos Available </h1>


                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Crypto Name</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for crypto in cryptos %}
                        <tr>
                            <td>{{ crypto.name }}</td>
                            <td>
                                <form method="post" action="{% url 'delete_crypto' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="crypto_name" value="{{ crypto.name }}">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}