{% extends 'base.html' %}

{% block portfolio_active %}active{% endblock %}

{% block content %}
    <div class="container news-container text-center">
        <div class="row">
            <h1><i class="fa-solid fa-money-check-dollar"></i> Portfolios</h1>
            {% for portfolio in portfolios %}
                <div class="card border-secondary mb-3 mx-auto" style="max-width: 18rem;">
                    <div class="card-header">{{ portfolio.name }}</div>
                    <div class="card-body text-secondary">
                        <p class="card-text">.</p>
                        <div class="crypto-buttons">
                            <button class="btn btn-primary">Rename</button>
                            <button class="btn btn-secondary">Delete</button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!--Deposit Modal-->
    <div class="modal fade" id="newPortfolioModal" tabindex="-1" aria-labelledby="depositModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <form class="new-portfolio-form" method="POST">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="depositModalLabel">New Portfolio</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <label for="{{ form.name.id_for_label }}" class="form-label">Portfolio Name</label>
                        <input type="text" name="{{ form.name.name }}" id="{{ form.name.id_for_label }}"
                               class="form-control"><br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}