{% extends 'base.html' %}

{% load static %}

{% block register_active %}active{% endblock %}

{% load widget_tweaks %}

{% block content %}
    <div class="container registration-container">
        <div class="row">
            <div class="col-md-8">
                <form class="registration-form" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-5">
                                <label for="id_username" class="form-label">Username</label>
                                {{ form.username|add_class:"form-control"|attr:"oninput:allowOnlyLetters(this)" }}
                            </div>
                            <div class="col-md-5">
                                <label for="id_email" class="form-label">Email</label>
                                {{ form.email|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-5">
                                <label for="id_password1" class="form-label">Password</label>
                                {{ form.password1|add_class:"form-control" }}
                            </div>
                            <div class="col-md-5">
                                <label for="id_password2" class="form-label">Repeat Password</label>
                                {{ form.password2|add_class:"form-control" }}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-md-5 text-center justify-content-start">
                                <button type="submit" class="btn btn-primary btn-lg" name="register"
                                        value="register">Register
                                </button>
                            </div>
                            <div class="col-md-5 text-center justify-content-start">
                                <a href="{% url 'login' %}">Already have an account? Login here.</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/register-image.svg' %}"
                     alt="Investment Chart" class="img-fluid registration-image">
            </div>
        </div>
    </div>
{% endblock %}