{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <form class="row g-3">
        <div class="col-md-6">
            {{ form.username }}
        </div>
        <div class="col-md-6">
            <label for="inputPassword4" class="form-label">Email</label>
            <input type="password" class="form-control" id="inputPassword4">
        </div>
        <div class="col-6">
            <label for="inputAddress" class="form-label">Password</label>
            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="col-6">
            <label for="inputAddress2" class="form-label">Repeat Password</label>
            <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
</div>
{% endblock %}